<h2 mat-dialog-title>Add Server</h2>
<mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Server name</mat-label>
      <input
        matInput
        [(ngModel)]="data.serverName"
        name="serverName"
        placeholder="TRITON"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>IP Address</mat-label>
      <input
        matInput
        [(ngModel)]="data.ipAddress"
        name="ipAddress"
        placeholder="192.168.8.1"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Environment</mat-label>
      <mat-select [(ngModel)]="data.environment" name="environment">
        <mat-option value="production">Production</mat-option>
        <mat-option value="development">Development</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSubmit()">Submit</button>
</mat-dialog-actions>
