{{ serverForm.value | json }}
<form [formGroup]="serverForm">
  <mat-form-field>
    <mat-label>Server name</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>IP Address</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Environment</mat-label>
    <mat-select>
      <mat-option value="production">Production</mat-option>
      <mat-option value="development">Development</mat-option>
    </mat-select>
  </mat-form-field>
</form>
